<nav class="navbar">
  <span class="brand">✈ FlightBooking</span>

  <!-- USER LOGGED IN -->
  <div class="nav-right" *ngIf="tokenService.isLoggedIn()">

    <span class="logged-as">Logged in as: {{ email }}</span>

    <a routerLink="/flights" class="nav-btn">Flights</a>

    <!-- USER ONLY -->
    <a *ngIf="role === 'USER'" routerLink="/my-bookings" class="nav-btn">
      My Bookings
    </a>

    <!-- ADMIN ONLY -->
    <a *ngIf="role === 'ADMIN'" routerLink="/add-flight" class="nav-btn">
      Add Flight
    </a>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <!-- USER NOT LOGGED IN -->
  <div class="nav-right" *ngIf="!tokenService.isLoggedIn()">
    <a routerLink="/login" class="nav-btn">Login</a>
    <a routerLink="/register" class="nav-btn nav-primary">Register</a>
  </div>
</nav>
